*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(73, 249, 255);
    font-weight:bolder;
    text-align: center;
    padding-top: 50px;
    font-size:xx-large;
    flex: 1;
    
}

div{
    display: flex;
    flex: 1;
}
#one{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    background-color:rgb(101, 152, 255);
    flex:3
}

#two{
    /* padding-top: 450px; */
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    background-color: aquamarine;
    
}

footer{
    background-color: rgb(207, 255, 16);
    font-weight:bolder;
    text-align: center;
    padding-top: 50px;
    font-size:xx-large;
   
    flex: 1;
}

main{
    display: flex;
    flex-direction: column;
}