*{
    margin: 0;
    padding: 0;
}
.Calculator{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
   
    
}


.calculator-items{
    background-color: antiquewhite;
    padding: 30px
    margin: sssss
    border: 1px solid black;
}

.cal-1{
    grid-column: span 4;

}